.btnWrapper {
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
}
.mBtn {
  border-color: aliceblue;
  color: blueviolet;
  padding: 1.3em 1em;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  border: none;
}

.mBtn:focus {
  transition: background-color 0.25s ease-in-out;
  background-color: aquamarine;
}